* {
    margin: 0;
    padding: 0;
}

/* Body styles */
.container {
    max-width: 1360px;
    margin: auto;
}

body {
    background-color: #FFFFFF;
}

.primary-button {
    border-radius: 4px;
    border: 1px solid #30B868;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    max-width: max-content;
}

/* Main styles */

/* Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.link-parent {
    display: flex;
    gap: 32px;
    list-style: none;
}

.link-parent a {
    text-decoration: none;
    color: #000000;
}

/* Hero section */
.hero-parent {
    background-image: url("./assets/hero-bg.png");
    max-width: 100%;
    height: 674px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.hero-parent .hero-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding-top: 70px;
    padding-bottom: 134px;
}

.hero-parent .hero-top-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.hero-parent .hero-top-frame {
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #30B868;
    padding: 8px 12px;
}

.hero-parent h2 {
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 84px;
}
 .hero-parent h2 span {
    color: #30B868;
 } 

.hero-parent p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}